* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 } 
body {
    margin: 0;
} 
.img { 
    width:100%; 
} 
.clear {
    clear: both; 
}
.background {
    background: url(https://image.freepik.com/free-photo/factory-worker-wearing-uniform-hardhat-operating-industrial-machine-with-push-button-joystick-production-hall_342744-214.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.top {
    background-color: rgba(29, 218, 252, 0.801);
    color: white;
    display: flex;                                                       
    flex-wrap: wrap;
    justify-content:space-evenly; 
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
}   
.content2 {
    background-color: rgba(148, 209, 219, 0.801);
    padding: 20px; 
    display: flex;                                                       
    flex-wrap: wrap;
    justify-content:space-around; 
}    
.top2 {
    display: inline-flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.search {
    background-color: white;
    color: rgba(29, 218, 252, 0.801);
    border: none; 
} 
.search_icon {
    list-style: none;
    background-color: rgba(29, 218, 252, 0.801);
    border: solid yellow 0.2em; 
}
.menucontent { 
    background-color: rgb(87, 132, 230);
    color: white;
    display: flex;                                                           
    flex-wrap: wrap;
    justify-content:space-evenly; 
    text-transform: uppercase;
    padding: 15px 40px;
}
p {
    padding: 10px;
}
p:hover{
     background-color: rgb(53, 48, 48); 
}
.videorow  {
    background-color: rgb(192, 197, 201); 
    display: inline-flex;                                                           
    flex-wrap: wrap;
    justify-content:center;  
    width: 100%; 
    padding-bottom: 5px;
} 
.video {
   width: 100%; 
}
.imgpara {
    display: inline-block;
    background-color: rgb(181, 185, 189); 
    text-align: center;
}
.imgpara1 {
    display: inline-block;
    background-color: white;  
    text-align: center;
}
.imgpara:hover { 
    background-color: lightgreen;
}
.imgpara1:hover { 
    background-color: lightpink; 
}
.bothimgpara { 
    background-color: rgb(238, 237, 230); 
    padding: 0 20px; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.img1 {  
    width: 320px; 
    height: 300px; 
}
.blue {
    color: rgb(87, 132, 230);
    text-transform: uppercase;
    font-size: 1.5em;
}
.para {
    color: rgb(53, 48, 48); 
    font-size: 1em;
    padding-bottom: 25px;
}
.row6 {
    background-color: rgb(192, 197, 201);
    padding: 20px;
} 
.bluebox {
    background-color: rgb(87, 132, 230);
    color: white;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
}
.row7 {
     text-align: center;
     display: inline-block; 
     padding: 20px;
} 
.column1 {
    background-color: rgb(192, 197, 201); 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;   
}
.row8 {
    text-align: center; 
    display: inline-block;
    padding: 20px;
}  
.column2 {
    background-color: rgb(192, 197, 201); 
    display: flex;      
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-evenly;    
} 
.pic {
    width: 220px; 
    height: 200px;                      
}                            
.line { 
    color:  rgb(87, 132, 230);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;   
}
.row9 {
    background-color: rgb(238, 237, 230);
    padding: 20px;
}
.bluebox2 {
    background-color: rgb(87, 132, 230);
    color: white;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em; 
}
.table {
    background-color: rgb(238, 237, 230);
    padding: 30px; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    align-content: space-around;
} 
.first {
    background-color: rgb(87, 132, 230);
    color: white;
    text-transform: capitalize;
    font-weight: bold;  
    font-size: 1em;
    padding: 5px 30px;  
}
.second { 
    text-transform: capitalize;
    background-color: white;
    color: rgb(87, 132, 230);
    font-weight: bold;    
    font-size: 1em;
    padding: 0 19px;
    margin-left: 68px;
}
.mask {
    background: url(https://ak.picdn.net/offset/photos/6025ae196f52af4409fd9e14/medium/offset_1092781.jpg?DFghwDcb?DFghwDcb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 840px;
} 
.paragraph {
    background-color: rgba(34, 36, 36, 0.692);
    color: white;
    font-size: 1rem;
   font-weight: bold;
   width: 380px;
   padding-top: 10px;
   padding-bottom: 122px;
   padding-left: 20px;
   padding-right: 10px;
} 
li {
    margin-left: 40px; 
}
.picasa {
    background: url(https://www.beekeeper.io/wp-content/uploads/2021/02/Factory-worker-motivation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.clr1 {
    flex-direction: row; 
}
.font {
    color: white; 
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(29, 218, 252, 0.801);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly; 
    text-align: center;  
    padding: 20px;
}
.btn {
    padding: 10px 2px;   
    border: none;
    color: rgba(29, 218, 252, 0.801);
    background-color: white;
    font-weight: 500;               
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 400px;
}
.footer {
    background-color: white;
    color: rgba(29, 218, 252, 0.801);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px; 
}
